body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 234px;
}

.start-button {
    width: 345px;
    height: 72px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    
    margin-top: 260px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid #FFEF61;
    border-radius: 12px;

    cursor: pointer;
}

.start-button img {
    margin-left: 7px;
}

.logo-mini {
    width: 141px;
    height: 54px;

    position: fixed;
    top: 26px;
    left: 26px;
}

.flashcards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 392px;
    height: 576px;

    margin-top: 225px;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    box-sizing: border-box;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.card-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

    position: absolute;
    top: 13px;
    right: 13px;
}

.question p {
    width: 294px;

    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.question img {
    position: absolute;
    bottom: 13px;
    right: 13px;
}

.answer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.answer p:first-child {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;

    position: absolute;
    top: 20px;
}


.answer .answer-text {
    width: 294px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    
    text-align: center;
    word-break: break-word;
}

.answer .evaluation-buttons {
    width: 310px;
    
    display: flex;
    justify-content: space-between;
    
    position: absolute;
    bottom: 20px;
}

.answer .evaluation-buttons div {
    width: 65px;
    height: 48px;
    
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    box-sizing: border-box;
    border-radius: 12px;
    
    cursor: pointer;
}

.answer .evaluation-buttons .button-1 {
    border: 3px solid #000000;
}

.answer .evaluation-buttons .button-2 {
    border: 3px solid #F74848;
}

.answer .evaluation-buttons .button-3 {
    border: 3px solid #62DB38;
}

.answer .evaluation-buttons .button-4 {
    border: 3px solid #FFEF61;
}

.card.black-border {
    border: 5px solid #000000;
}

.card.red-border {
    border: 5px solid #F64848;
}

.card.green-border {
    border: 5px solid #62DB38
}

.card.yellow-border {
    border: 5px solid #FFEF61;
}

.answer img {
    position: absolute;
    bottom: 13px;
    right: 13px;
}

.answer .hidden {
    display: none;
}
.hidden {
    display: none;
}